<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="classicPrinter" class="com.kodedu.coupling.ClassicPrinter"></bean>

    <bean id="lazerPrinter" class="com.kodedu.coupling.LazerPrinter"></bean>

    <bean  class="com.kodedu.coupling.PrinterService">
        <!-- DI - Dependency Injection -->
        <constructor-arg ref="lazerPrinter" />
    </bean>
</beans>